<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <!--[if IE]>
      <div class="browserupgrade">
        <p> You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your
        browser</a> to improve your experience and security.</p>
      </div>
    <![endif]-->
    <div class="a11y--skip-hide">
      <a href="#main-content" class="focusable">{{ 'Skip to main content'|t }}</a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
