<div{{ attributes}}>
  <div class="cart-block--summary">
    <a class="cart-block--link__expand text-decoration--none display--flex justify-content--center align-items--center" href="{{ url }}">
      <span class="cart-block--summary__icon padding-horizontal--1">{{ icon }}</span>
      <span class="cart-block--summary__count">{{ count_text }}</span>
    </a>
  </div>
  {% if content %}
  <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
      <div class="cart-block--contents__items">
        {{ content }}
      </div>
      <div class="cart-block--contents__links">
        {{ links }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
